### **Data Types and Structures Questions**

1.What are data structures, and why are they important?

  ->Data structures are methods of storing and organizing data so that it       can be used efficiently.
  They are important because they make programs faster, more efficient, and easier to manage.

2.Explain the difference between mutable and immutable data types with examples.

  ->Mutable: Can be changed after creation.
  Examples: List, Dictionary, Set

  Immutable: Cannot be changed after creation.
  Examples: Tuple, String, Integer

3.What are the main differences between lists and tuples in Python?

  ->Lists are mutable, tuples are immutable.


* Lists are slower, tuples are faster.


* Lists use [], tuples use ().

4.Describe how dictionaries store data.

  ->Dictionaries store data in key-value pairs. Internally, Python uses a hash  table, which makes searching very fast.

5.Why might you use a set instead of a list in Python?

  ->Use a set when:

  
* The order of items does not matter  
* You need faster searching
*  You want unique values (no duplicates)

6.What is a string in Python, and how is it different from a list?

  ->A string is a sequence of characters.
  Differences:

 * Strings are immutable, lists are mutable
 * Strings store only characters, lists can store any data type

7.How do tuples ensure data integrity in Python?

  ->Tuples are immutable, so once created, the data cannot be changed.
  This protects the data from accidental changes and ensures data integrity.

8.What is a hash table, and how does it relate to dictionaries in Python?

  ->A hash table is a data structure that stores data using a hash function.
  Python dictionaries use a hash table internally to provide fast key-based access.

9.Can lists contain different data types in Python?

   ->Yes. Python lists can store multiple data types.
   Example: [10, "hello", 3.5, True]

10.Explain why strings are immutable in Python.

  ->Strings are immutable because:

  * They save memory

  * They make programs faster

  * They are safe to use as dictionary keys

  * They prevent accidental changes

11.What advantages do dictionaries offer over lists for certain tasks

  * Faster data access

  * Access is through keys, not indexes

  * Data is more meaningful (key + value)

  * Searching is much quicker

12.How do sets handle duplicate values in Python?

  ->Sets automatically remove duplicate values.
    Example: {1, 2, 2, 3} becomes {1, 2, 3}

13.Describe a scenario where using a tuple would be preferable over a list.

   ->Use a tuple when data should not be changed, such as:

   * Coordinates (x, y)

   * Days or months of the year

   * Fixed settings or constants

14.How does the “in” keyword work differently for lists and dictionaries?

   * For lists: checks if a value exists

   * For dictionaries: checks only keys, not values

   Example:
   "name" in {"name": "Aditi"} → True
   "Aditi" in {"name": "Aditi"} → False

15.Can you modify the elements of a tuple? Explain why or why not.

  ->No, you cannot modify tuple elements because tuples are immutable.
    You cannot add, delete, or change any value inside a tuple.

16.What is a nested dictionary? Give an example.

   ->A nested dictionary is a dictionary that contains another dictionary inside it.

    Example:

    student = {
    "name": "Rohan",
    "marks": {"math": 92, "science": 88}
}

17.Describe the time complexity of accessing elements in a dictionary.

   ->Accessing elements in a dictionary takes O(1) time (constant time) because of the hash table.

18.In what situations are lists preferred over dictionaries?

   * Lists are preferred when:

   * Order matters

   * You need numeric indexing

   * Data is simple

   * Keys are not required

19.Why are dictionaries considered unordered, and how does that affect data retrieval?

   ->Dictionaries are considered unordered because you cannot access items by index.
   You must always use the key to retrieve data, not position.

20.Explain the difference between a list and a dictionary in terms of data retrieval.

   * List: Retrieve data using an index number

   * Dictionary: Retrieve data using a key
     Dictionaries offer faster and more meaningful access.

# **Practical Questions**

1.Write a code to create a string with your name and print it.

In [ ]:
name = "Tanvi"
print(name)

Tanvi

2.Write a code to find the length of the string "Hello World".

In [ ]:
s = "Hello World"
print(len(s))

11

3.Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
text = "Python Programming"
print(text[:3])

Pyt

4.Write a code to convert the string "hello" to uppercase.

In [ ]:
print("hello".upper())

HELLO

5.Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
s = "I like apple"
print(s.replace("apple", "orange"))

I like orange

6.Write a code to create a list with numbers 1 to 5 and print it?

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7.

7.Write a code to append the number 10 to the list [1, 2, 3, 4]

In [1]:
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [2]:
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [3]:
lst = ['a', 'b', 'c', 'd']
print(lst[1])

b

10.Write a code to reverse the list [10, 20, 30, 40, 50].

In [4]:
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

11.Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [5]:
tup = (100, 200, 300)
print(tup)

(100, 200, 300)

12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [6]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [7]:
numbers = (10, 20, 5, 15)
print(min(numbers))

5

14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [8]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [9]:
fruits = ('apple', 'banana', 'mango')
print("kiwi" in fruits)

False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [10]:
s = {'a', 'b', 'c'}
print(s)

{'b', 'a', 'c'}

17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}. 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [11]:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [12]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

19.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [13]:
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

20.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [14]:
person = {"name": "John", "age": 25, "city": "New York"}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

21. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [15]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

22.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [16]:
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

23.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [17]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

24.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [18]:
person = {'name': 'Alice', 'city': 'Paris'}
print('city' in person)

True

25. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [20]:
lst = [1, 2, 3]
tup = (4, 5, 6)
dct = {'a': 1, 'b': 2}

print(lst)
print(tup)
print(dct)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

26.Write a code to create a list with strings and print the element at the third index.

In [21]:
lst = ["apple", "banana", "cherry", "date", "fig"]
print(lst[3])

date

27. Write a code to combine two dictionaries into one and print the result.

In [22]:
d1 = {'a': 1, 'b': 2}
d2 = {'c': 3, 'd': 4}
result = {**d1, **d2}
print(result)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

28.Write a code to convert a list of strings into a set.

In [23]:
lst = ["apple", "banana", "apple", "cherry"]
print(set(lst))

{'apple', 'cherry', 'banana'}